.egalloc_title {
    color: black;
    margin: 80px 0px 0px 0px;
}

#title_img {
    width: 395px
}

section {
    text-align: center;
    border: double 7px;
    width: 650px;
    margin: 0px auto;
    padding-top: 80px;
    padding-bottom: 20px;
}

#font1 {
    font-size: 20px;
    font-weight: 100;
}

#font2 {
    font-size: 20px;
    font-weight: 100;
}

#font3 {
    font-size: 13px;
    font-weight: 100;
}

#font4 {
    font-size: 13px;
    font-weight: 100;
}

#mail {
    font-size: 13px;
    font-weight: 100;
}

section a {
    font-size: 13px;
    color: #a498ff;
    text-decoration: none;
}

section a:hover {
    color: #ff1e97;
}

#instagram_logo {
    list-style: none;
    width: 10px;
    height: 10px;
}

#instagram {
    width: 20px;
    height: auto;
    margin-top: 40px;
}

#banner {
    width: 664px;
    margin-top: 10px;
}