#img_1 {
    background: url(../final_img/12.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_2 {
    background: url(../final_img/13.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_3 {
    background: url(../final_img/14.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_4 {
    background: url(../final_img/15.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_5 {
    background: url(../final_img/16.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_6 {
    background: url(../final_img/18.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_7 {
    background: url(../final_img/19.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}





#img_8 {
    background: url(../final_img/20.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_9 {
    background: url(../final_img/21.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}
#img_10 {
    background: url(../final_img/23.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}
#img_11 {
    background: url(../final_img/24.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}
#img_12 {
    background: url(../final_img/25.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}
#img_13 {
    background: url(../final_img/27.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_14 {
    background: url(../final_img/28.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}





#img_15 {
    background: url(../final_img/29.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_16 {
    background: url(../final_img/30.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_17 {
    background: url(../final_img/31.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_18 {
    background: url(../final_img/32.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_19 {
    background: url(../final_img/33.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_20 {
    background: url(../final_img/34.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

#img_21 {
    background: url(../final_img/36.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}
