.egalloc_title a:hover {
    color: black;
}

.egalloc_title a:active {
    color: none;
}

#title_img {
    width: 395px;
    margin-top: 15px;
}

#main_img {
    width: 330px;
    height: 330px;
    margin: 0px 0px 100px 0px;
    padding: 0px;
    border: double 7px;
}

.main_category {
    text-align: left;
    margin: 0px 0px 10px 0px;
    border-bottom: solid 2px;
    width: 340px;
}

footer {
    color: white;
    text-align: center;
    width: 340px;
    background-color: #bebebe;
    margin: -12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

a{
    text-decoration: none;
}

a:hover {
    color: #a498ff;
}

a:active {
    color: #a498ff;
}

a:visit {
    text-decoration: none;
}