.egalloc_title {
    display: block;
    color: black;
    margin: 37px 0px 0px 0px;
}

#title_img {
    width: 395px;
    padding-top: 0px;
    margin-top: 0px;
}

h2 {
    font-weight: 500;
    color: #717171;
    margin: 0px 0px 170px 0px;
}

p {
    color: #717171;
    font-size: 13px;
    font-weight: 1000;
    padding-bottom: 10px;
    font-style: oblique;
}

table {
    border-bottom: solid 1px;
    width: 500px;
    margin: 0px 0px 55px 0px;
    padding-bottom: 50px;
}

#img_1 {
    background: url(../final_img/12.png);
    background-size:250px 250px;
    width: 250px;
    height: 250px;
}

.text1 {
    text-align: center;
    width: 250px;
    height: 250px;
}

ul{
    overflow:hidden;
    list-style: none;
    margin: 0px 0px 20px 0px;
    padding:0px 0px 0px 30px;
    max-width: 300px;
}

li{
    box-sizing: border-box;
    float:left;
    width:30%;
}

li a {
    color: #717171;
    text-decoration: none;
}

#banner {
    width: 500px;
    margin-top: 0px;
}

a:hover {
    color: #a498ff;
}

a:active {
    color: #a498ff;
}

a:visit {
    text-decoration: none;
}